# Data Spliting In Machine Learning

## Splitting Data into Features (X) and Target (y) in Machine Learning

##### Why Split Data into X and y?
- It is one of the most fundamental pastr of model building especially in case of supervised machine learning, as the model learn from data by understaning the relationship betwwen the input data (Featues) & Output data (Targets).
- Feature(X): The input variable (what you use to make predictions)
- Targer(y): The output variable (what you want to predict)
- Syntax: 
```
X = df[['input feature 1', 'input feature 2', ....]]
y = df['output feature(target)]
```

## Ways to Split the Data

##### 1. .drop() and column selection
- Syntax: 
```
X = df.drop("Traget Feature", axis= 1)
y = df['output feature(target)]
```

- drop() removes the target column from the features
- axis=1 means drop a column, not a row


##### 2. Using .iloc (index-based)
- Syntax:
```
X = df.iloc[ :, :-1]
Y = df.iloc[ :, -1]
```

- :-1 excludes the last column → feature set
- -1 gets the last column → target


##### 3. Select specific columns manually
- Syntax: 
```
X = df[['input feature 1', 'input feature 2', ....]]
y = df['output feature(target)]
```

### Example

In [1]:
# import Libraries
import pandas as pd

In [2]:
ds = pd.read_csv('Sales_data.csv')
ds.head()

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,High Value,240.548359,300.007568,74.684767,NaN,No
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
3,Control,Medium Value,192.126708,229.278031,49.333766,39.811841,Yes
4,NaN,High Value,229.685623,NaN,83.974852,87.738591,Yes

In [ ]:
# split the data
X = ds.drop('Purchase_Made', axis = 1)
Y = ds['Purchase_Made']
print(X)
print(Y)

          Group Customer_Segment  Sales_Before  Sales_After  \
0       Control       High Value    240.548359   300.007568
1     Treatment       High Value    246.862114   381.337555
2       Control       High Value    156.978084   179.330464
3       Control     Medium Value    192.126708   229.278031
4           NaN       High Value    229.685623          NaN
...         ...              ...           ...          ...
9995  Treatment              NaN    259.695935   415.181694
9996    Control       High Value    186.488285   216.225457
9997  Treatment        Low Value    208.107142   322.893351
9998  Treatment     Medium Value           NaN   431.974901
9999    Control        Low Value           NaN   124.402398

      Customer_Satisfaction_Before  Customer_Satisfaction_After
0                        74.684767                          NaN
1                       100.000000                   100.000000
2                        98.780735                   100.000000
3                        49.333766                    39.811841
4                        83.974852                    87.738591
...                            ...                          ...
9995                     88.438776                    98.418593
9996                     92.261537                   100.000000
9997                     55.915870                          NaN
9998                     66.082462                    81.274030
9999                     55.692277                    65.288480

[10000 rows x 6 columns]
0        No
1       Yes
2        No
3       Yes
4       Yes
       ...
9995    NaN
9996    NaN
9997     No
9998     No
9999    Yes
Name: Purchase_Made, Length: 10000, dtype: object

---

# Train-Test Data Split

- The train-test split is the process of dividing your dataset into two parts:
- Training Set: Used to train the model (learn patterns)
- Test Set: Used to evaluate model performance on unseen data

### Typical Split Ratio
- Training Set: 70% - 80%
- Test Set: 20% - 30%

##### Importing Train-Test Split
```
from sklearn.model_selection import train_test_split
```

##### Syntax
```
X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.2,           # 20% for testing
    random_state=42,         # Reproducibility
    shuffle=True             # Shuffle before split
)
```

### Parameters

| Parameter      | Description                                      |
| -------------- | ------------------------------------------------ |
| `X, y`         | Features and labels                              |
| `test_size`    | Fraction of data for testing (e.g., 0.2 = 20%)   |
| `random_state` | Ensures same split every run                     |
| `shuffle`      | Shuffles data before splitting                   |
| `stratify`     | Ensures class balance in classification problems |

### Output Structure
| Variable  | Contains                  |
| --------- | ------------------------- |
| `X_train` | Feature data for training |
| `X_test`  | Feature data for testing  |
| `y_train` | Labels for training       |
| `y_test`  | Labels for testing        |

### Detailed Explanation of train_test_split() Parameters

#####  1. X, y → Features and Labels
- These are the inputs to the function.
- X: The input features (usually a DataFrame or NumPy array).
- y: The target/output variable (usually a Series or 1D array).
- Example: 
```
X = df.drop("Outcome", axis=1)  # all input columns
y = df["Outcome"]               # target column
```

---
#####  2. test_size → Size of Test Set
- Defines the proportion of the dataset to include in the test split.
-It can be:
A float between 0.0 and 1.0 → fraction of dataset (most common)
An int → absolute number of test samples
- Example: 
```
train_test_split(X, y, test_size=0.2)  # 20% test, 80% train
train_test_split(X, y, test_size=100)  # 100 samples in test set
```

- Common values:
0.2 → 20% test
0.3 → 30% test

---
#####  3. random_state → Reproducibility
- Controls the shuffling of data before the split.
- Setting this to a fixed number makes the split repeatable every time you run the code.
- If not set, you may get a different train-test split on each run.
- Example: 
```
train_test_split(X, y, test_size=0.3, random_state=42)
```
-  Without random_state, your model might behave differently each time.
-  Use a fixed random_state (like 0, 42, or any number) for consistency in experiments.

---

#####  4. shuffle → Whether to Shuffle the Data Before Splitting
- True (default): Data is shuffled before splitting.
- False: No shuffling – useful in time series or ordered data.
- Example: 
```
train_test_split(X, y, test_size=0.2, shuffle=True)
```
-   Use shuffle=False if:
- You’re dealing with time-dependent sequences (e.g., stock prices)
- Data order has meaning

---

##### 5. stratify → Stratified Sampling Based on Labels
- Ensures class proportions are preserved in both train and test sets (important for classification problems with imbalanced classes).
- If you have 80% class A and 20% class B in y, setting stratify=y will ensure the train and test sets also maintain this ratio.
- Example:
```
train_test_split(X, y, test_size=0.3, stratify=y, random_state=42)
```
- If stratify is not used in imbalanced datasets, the model might train on mostly one class and fail to generalize.

# Example

In [4]:
# Import Libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
# load data set
ds = pd.read_csv('Sales_data.csv')
ds.head()

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,High Value,240.548359,300.007568,74.684767,NaN,No
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
3,Control,Medium Value,192.126708,229.278031,49.333766,39.811841,Yes
4,NaN,High Value,229.685623,NaN,83.974852,87.738591,Yes

In [8]:
# Split the data into X, y
X = ds.drop('Purchase_Made', axis= 1)
y = ds['Purchase_Made']
X, y

(          Group Customer_Segment  Sales_Before  Sales_After  \
 0       Control       High Value    240.548359   300.007568
 1     Treatment       High Value    246.862114   381.337555
 2       Control       High Value    156.978084   179.330464
 3       Control     Medium Value    192.126708   229.278031
 4           NaN       High Value    229.685623          NaN
 ...         ...              ...           ...          ...
 9995  Treatment              NaN    259.695935   415.181694
 9996    Control       High Value    186.488285   216.225457
 9997  Treatment        Low Value    208.107142   322.893351
 9998  Treatment     Medium Value           NaN   431.974901
 9999    Control        Low Value           NaN   124.402398

       Customer_Satisfaction_Before  Customer_Satisfaction_After
 0                        74.684767                          NaN
 1                       100.000000                   100.000000
 2                        98.780735                   100.000000
 3                        49.333766                    39.811841
 4                        83.974852                    87.738591
 ...                            ...                          ...
 9995                     88.438776                    98.418593
 9996                     92.261537                   100.000000
 9997                     55.915870                          NaN
 9998                     66.082462                    81.274030
 9999                     55.692277                    65.288480

 [10000 rows x 6 columns],
 0        No
 1       Yes
 2        No
 3       Yes
 4       Yes
        ...
 9995    NaN
 9996    NaN
 9997     No
 9998     No
 9999    Yes
 Name: Purchase_Made, Length: 10000, dtype: object)

In [10]:
# split the dataset in train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size=0.30, random_state=42, shuffle=True)

# Print the data
X_train, X_test, y_train, y_test

(          Group Customer_Segment  Sales_Before  Sales_After  \
 9069    Control              NaN    291.106024   339.189101
 2603    Control        Low Value    116.073014   134.793027
 7738  Treatment     Medium Value    231.294717          NaN
 1579        NaN              NaN    283.903517   338.551699
 5058    Control     Medium Value    167.653035   201.148619
 ...         ...              ...           ...          ...
 5734  Treatment     Medium Value    211.298523   329.946118
 5191  Treatment       High Value    171.580545   262.206431
 5390  Treatment        Low Value    177.647075   282.720969
 860   Treatment     Medium Value    189.962855   277.573511
 7270  Treatment        Low Value    116.952862   189.670308

       Customer_Satisfaction_Before  Customer_Satisfaction_After
 9069                     68.671932                    63.550297
 2603                     64.859218                    72.553231
 7738                     69.544383                    45.196342
 1579                     85.798371                    98.703459
 5058                     46.594863                    63.418638
 ...                            ...                          ...
 5734                     71.439223                    79.494449
 5191                           NaN                    68.996014
 5390                     55.024820                    52.040851
 860                      49.598255                          NaN
 7270                     35.752106                    45.503553

 [7000 rows x 6 columns],
           Group Customer_Segment  Sales_Before  Sales_After  \
 6252    Control        Low Value    202.937510   245.562529
 4684  Treatment     Medium Value    124.808089   205.601701
 1731    Control              NaN           NaN   133.337069
 4742        NaN              NaN    261.604426   419.422090
 4521    Control        Low Value           NaN   160.140266
 ...         ...              ...           ...          ...
 8014  Treatment              NaN     82.337204          NaN
 1074    Control     Medium Value    326.718887   396.219960
 3063  Treatment              NaN    175.868303          NaN
 6487  Treatment     Medium Value    110.743402   147.751409
 4705    Control       High Value    213.701754   261.837590

       Customer_Satisfaction_Before  Customer_Satisfaction_After
 6252                     69.112754                    76.000000
 4684                     52.890804                    69.813121
 1731                     69.575004                    60.940449
 4742                     82.913483                          NaN
 4521                     62.189051                          NaN
 ...                            ...                          ...
 8014                           NaN                    67.155943
 1074                     63.706570                    67.778228
 3063                     42.911566                    43.467931
 6487                     67.265544                    58.553060
 4705                     99.532947                          NaN

 [3000 rows x 6 columns],
 9069     No
 2603    NaN
 7738    Yes
 1579     No
 5058     No
        ...
 5734    Yes
 5191    NaN
 5390    NaN
 860      No
 7270    Yes
 Name: Purchase_Made, Length: 7000, dtype: object,
 6252    Yes
 4684    Yes
 1731     No
 4742    Yes
 4521    Yes
        ...
 8014     No
 1074    Yes
 3063     No
 6487     No
 4705     No
 Name: Purchase_Made, Length: 3000, dtype: object)